.background__img{
    align-self: auto;
    background-image: url("../../img/calculator.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
    height: 22rem;
    width: 30rem;
}
.background__circles{
    align-self: flex-start;
    display: flex;
    margin-bottom: 1.8rem;
    margin-left: 3.2rem;
}
.circle{
    background-color: #C4C4C4;
    border-radius: 100%;
    height:3.5rem;
    margin-right: 1.5rem;
    width:3.5rem;
}
.circle.active{
    background-color: #DD5252;
}

@media screen and (min-width:0) {
    .background__img, .background__circles{
        display: none;
    }
}
@media screen and (min-width:564px) {
    .background__circles{
        display: flex;
    }
}
@media screen and (min-width:1000px) {
    .background__img{
        display: flex;
    }
}